.chatButtonsCont {
    float: right; 
    width: 110px; 
    text-align: right;
    margin-right: 20px;
}

.chatTextCont {
    width: calc(100% - 160px);
}

.bidAmount {
    float: right;
    color: red;
}